/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.App-Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.phantom {
    display: block;
    padding: 20px;
    height: 60px;
    width: 100%;
}

.sticky-footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.copyfoot {
    font-size: 1.3rem;
    font-family: 'Rajdhani', sans-serif;
    color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
